.container{
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header{
    text-align: center;
    margin-bottom: 30px;
}

.header h1{
    margin: 0;
    font-size: 36px;
    
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}

.header h2{
    margin: 10px 0px 0px;
    font-weight: normal;
    color: 888;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.imgRedonda {
    width:250px;
    height:300px;
        /* border-radius:160px; 
    border:10px solid #666 */
}

.content{
    display: flex;
    justify-content: space-between;
}

.photo img {
    max-width: 50%;
    border-radius: 20%;
    margin-top: 10px;
    align-self: center;
}

.section{
    margin-bottom: 20px;
}

.left-column {
    max-width: 300px;
}
    
